@import url(./Reset.css);
@import url(./Header.css);

/* ================= STORE PAGE ================= */
/* ================= STORE PAGE ================= */
/* ================= STORE PAGE ================= */
/* ================= STORE PAGE ================= */
/* ================= STORE PAGE ================= */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px;
  position: relative;
}
.store-inner {
  width: 1420px;
  height: 100%;
  /* border: 1px solid #ccc; */
  position: absolute;
  top: 100px;
  margin: 0 auto;
  /* position: relative; */
}

/* LEFT */

#store-left {
  /* border: 1px solid #f00; */
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#store-left > div > h1 {
  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: bold;
  margin: 80px 10px 20px;
}
#store-menu {
  /* border: 1px solid aqua; */
  width: 202px;
  height: 110px;
  position: absolute;
  top: 135px;
  left: 0;
  margin: 10px;
}
.online {
  border: 1px solid #d9d9d9;
  width: 200px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  background: #f7f7f7;
}
.online p {
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: bold;
}
.offline {
  border: 1px solid #d9d9d9;
  width: 200px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.offline p {
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 200;
}

/* RIGHT - BRAND */

#store-right {
  /* border: 1px solid #00f; */
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.online-title {
  margin: 80px 10px 20px;
  display: flex;
  align-items: center;
}
.online-title > h1 {
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-weight: 400;
}
.online-title > p {
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 200;
  margin-left: 20px;
}
#brand {
  /* border: 1px solid pink; */
  width: 474px;
  height: 605px;
  position: absolute;
  top: 140px;
  left: 0;
}
.brand {
  width: 230px;
  /* border: 1px solid orange; */
}
.logo-img {
  margin-bottom: 10px;
}
.logo-name {
  display: flex;
  justify-content: space-between;
}
.logo-name span:first-child {
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: bold;
}
.logo-name span:last-child {
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 200;
}
#naver {
  position: absolute;
  top: 0;
  left: 0;
}
#olive {
  position: absolute;
  top: 0;
  right: 0;
}
#amore {
  position: absolute;
  bottom: 0;
  left: 0;
}
#kakaogift {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* RIGHT - GLOBAL */

#global {
  /* border: 1px solid green; */
  width: 663px;
  height: 600px;
  position: absolute;
  top: 140px;
  right: 0;
}
#global > img {
  width: 100%;
  height: 100%;
  position: relative;
}
.gb-name {
  position: absolute;
  top: 0;
  left: 0;
}
.gb-name2:hover {
  opacity: 0.6;
}
#korea {
  position: absolute;
  top: 168px;
  left: 412px;
}
#india {
  position: absolute;
  top: 210px;
  left: 180px;
}
#indonesia {
  position: absolute;
  top: 438px;
  left: 260px;
}
#japan {
  position: absolute;
  top: 320px;
  left: 490px;
}
#malaysia {
  position: absolute;
  top: 336px;
  left: 205px;
}
#singapore {
  position: absolute;
  top: 378px;
  left: 397px;
}
#thailand {
  position: absolute;
  top: 260px;
  left: 270px;
}
#uae {
  position: absolute;
  top: 240px;
  left: 50px;
}

/* ========== Laptop ========== */
/* ========== Laptop ========== */
/* ========== Laptop ========== */
/* ========== Laptop ========== */
/* ========== Laptop ========== */

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: 920px;
  }
  .store-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* LEFT */

  #store-left {
    display: none;
  }

  /* RIGHT - BRAND */

  #store-right {
    /* border: 1px solid #00f; */
    width: 100%;
    height: 780px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online-title {
    display: none;
  }

  #brand {
    /* border: 1px solid pink; */
    width: 480px;
    height: 740px;
    padding-bottom: 40px;
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }
  #naver {
    position: absolute;
    top: 0;
    left: 0;
  }
  #olive {
    position: absolute;
    top: 0;
    right: 0;
  }
  #amore {
    position: absolute;
    top: 360px;
    left: 0;
  }
  #kakaogift {
    position: absolute;
    top: 360px;
    right: 0;
  }
  .logo-img a img {
    width: 235px;
    height: 298px;
  }

  .logo-name {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .logo-name span:first-child {
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: normal;
  }
  .logo-name span:last-child {
    font-family: "Noto Sans KR";
    font-size: 12px;
    font-weight: 300;
  }

  /* RIGHT - GLOBAL */

  #global {
    /* border: 1px solid green; */
    width: 480px;
    height: 540px;
    position: absolute;
    top: 0;
    right: 20px;
  }
  #global > img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .gb-name {
    position: absolute;
    top: 0;
    left: 0;
  }
  .gb-name2:hover {
    opacity: 0.6;
  }
  #korea img {
    width: 75px;
    height: 30px;
  }
  #korea {
    position: absolute;
    top: 155px;
    left: 306px;
  }
  #india img {
    width: 62px;
    height: 30px;
  }
  #india {
    position: absolute;
    top: 193px;
    left: 135px;
  }
  #indonesia img {
    width: 100px;
    height: 30px;
  }
  #indonesia {
    position: absolute;
    top: 395px;
    left: 195px;
  }
  #japan img {
    width: 68px;
    height: 30px;
  }
  #japan {
    position: absolute;
    top: 270px;
    left: 360px;
  }
  #malaysia img {
    width: 90px;
    height: 30px;
  }
  #malaysia {
    position: absolute;
    top: 310px;
    left: 160px;
  }
  #singapore img {
    width: 92px;
    height: 30px;
  }
  #singapore {
    position: absolute;
    top: 343px;
    left: 285px;
  }
  #thailand img {
    width: 90px;
    height: 30px;
  }
  #thailand {
    position: absolute;
    top: 240px;
    left: 205px;
  }
  #uae img {
    width: 55px;
    height: 30px;
  }
  #uae {
    position: absolute;
    top: 225px;
    left: 45px;
  }
}

/* ========== Tablet =========== */
/* ========== Tablet =========== */
/* ========== Tablet =========== */
/* ========== Tablet =========== */
/* ========== Tablet =========== */

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 768px;
    height: 100%;
  }
  .store-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* LEFT */

  #store-left {
    display: none;
  }

  /* RIGHT - BRAND */

  #store-right {
    /* border: 1px solid #00f; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online-title {
    display: none;
  }

  #brand {
    /* border: 1px solid pink; */
    width: 768px;
    height: 1130px;
    position: relative;
    margin: 0;
  }
  .brand {
    /* border: 1px solid orange; */
    width: 385px;
    height: 565px;
    display: block;
  }
  #naver {
    position: absolute;
    top: 0;
    left: 0;
  }
  #olive {
    position: absolute;
    top: 0;
    left: 385px;
  }
  #amore {
    position: absolute;
    top: 565px;
    left: 0;
  }
  #kakaogift {
    position: absolute;
    top: 565px;
    left: 385px;
  }
  .logo-img a img {
    width: 382px;
    height: 485px;
  }
  .logo-name {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .logo-name span:first-child {
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: normal;
  }
  .logo-name span:last-child {
    font-family: "Noto Sans KR";
    font-size: 12px;
    font-weight: 300;
  }

  /* RIGHT - GLOBAL */

  #global {
    /* border: 1px solid green; */
    width: 750px;
    height: 840px;
    position: absolute;
    top: 1200px;
    left: 0;
  }
  #global > img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .gb-name {
    position: absolute;
    top: 0;
    left: 0;
  }
  .gb-name2:hover {
    opacity: 0.6;
  }
  #korea img {
    width: 90px;
    height: 50px;
  }
  #korea {
    position: absolute;
    top: 250px;
    left: 500px;
  }
  #india img {
    width: 73px;
    height: 50px;
  }
  #india {
    position: absolute;
    top: 312px;
    left: 222px;
  }
  #indonesia img {
    width: 115px;
    height: 50px;
  }
  #indonesia {
    position: absolute;
    top: 618px;
    left: 350px;
  }
  #japan img {
    width: 80px;
    height: 50px;
  }
  #japan {
    position: absolute;
    top: 430px;
    left: 585px;
  }
  #malaysia img {
    width: 100px;
    height: 50px;
  }
  #malaysia {
    position: absolute;
    top: 480px;
    left: 285px;
  }
  #singapore img {
    width: 103px;
    height: 50px;
  }
  #singapore {
    position: absolute;
    top: 537px;
    left: 450px;
  }
  #thailand img {
    width: 105px;
    height: 50px;
  }
  #thailand {
    position: absolute;
    top: 370px;
    left: 340px;
  }
  #uae img {
    width: 65px;
    height: 50px;
  }
  #uae {
    position: absolute;
    top: 360px;
    left: 80px;
  }
}

/* ========== Mobile =========== */
/* ========== Mobile =========== */
/* ========== Mobile =========== */
/* ========== Mobile =========== */
/* ========== Mobile =========== */

@media screen and (max-width: 390px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 100%;
  }
  .store-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* LEFT */

  #store-left {
    display: none;
  }

  /* RIGHT - BRAND */

  #store-right {
    /* border: 1px solid #00f; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online-title {
    display: none;
  }

  #brand {
    /* border: 1px solid pink; */
    width: 390px;
    height: 750px;
    position: relative;
    margin: 0;
  }
  .brand {
    /* border: 1px solid orange; */
    width: 195px;
    height: 325px;
    display: block;
  }
  #naver {
    position: absolute;
    top: 0;
    left: 0;
  }
  #olive {
    position: absolute;
    top: 0;
    left: 195px;
  }
  #amore {
    position: absolute;
    top: 325px;
    left: 0;
  }
  #kakaogift {
    position: absolute;
    top: 325px;
    left: 195px;
  }
  .logo-img a img {
    width: 193px;
    height: 245px;
  }
  .logo-name {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .logo-name span:first-child {
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: normal;
  }
  .logo-name span:last-child {
    font-family: "Noto Sans KR";
    font-size: 12px;
    font-weight: 300;
  }

  /* RIGHT - GLOBAL */

  #global {
    /* border: 1px solid green; */
    width: 390px;
    height: 435px;
    position: absolute;
    top: 740px;
    left: 0;
  }
  #global > img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .gb-name {
    position: absolute;
    top: 0;
    left: 0;
  }
  .gb-name2:hover {
    opacity: 0.6;
  }
  #korea img {
    width: 75px;
    height: 25px;
  }
  #korea {
    position: absolute;
    top: 120px;
    left: 245px;
  }
  #india img {
    width: 75px;
    height: 25px;
  }
  #india {
    position: absolute;
    top: 160px;
    left: 95px;
  }
  #indonesia img {
    width: 100px;
    height: 25px;
  }
  #indonesia {
    position: absolute;
    top: 320px;
    left: 150px;
  }
  #japan img {
    width: 60px;
    height: 25px;
  }
  #japan {
    position: absolute;
    top: 230px;
    left: 290px;
  }
  #malaysia img {
    width: 80px;
    height: 25px;
  }
  #malaysia {
    position: absolute;
    top: 250px;
    left: 120px;
  }
  #singapore img {
    width: 80px;
    height: 25px;
  }
  #singapore {
    position: absolute;
    top: 280px;
    left: 235px;
  }
  #thailand img {
    width: 85px;
    height: 25px;
  }
  #thailand {
    position: absolute;
    top: 190px;
    left: 160px;
  }
  #uae img {
    width: 55px;
    height: 25px;
  }
  #uae {
    position: absolute;
    top: 180px;
    left: 30px;
  }
}
